{
	"singleQuote": true,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "ignore",
	"plugins": ["prettier-plugin-astro", "prettier-plugin-organize-imports"],
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"printWidth": 80
			}
		},
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
