# Add files here to ignore them from prettier formatting
/dist
/coverage
.angular
pnpm-lock.yaml
CHANGELOG.md
README.md
.gitignore
.prettierignore

/.nx/cache
**/*.snap

/apps/test-app/src/assets/fontawesome

/.nx/workspace-data
/docs/public/*
